<h4 style="text-align: center">There is {{getNumberOfRows()}} row(s) to be displayed for the {{getNumberOfFlashcards()}} flashcard(s)</h4>


<div class="col s12">
  <div class="row flashcard">
    <app-grid-flashcard [Listflashcard]=flashcardList [nbRows]=getNumberOfRows()>
    </app-grid-flashcard>
  </div>
</div>

<!--  Scripts-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../assets/js/materialize.js"></script>
<script src="../assets/js/init.js"></script>
